:root {
  --white: #ffffff;
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --f4f4fd: #f4f4fd;
  --e7e9fc: #e7e9fc;
  --gray: #434455;
}
/* ------------------------------------------------- инструменты------------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}
ul {
  padding-left: 0px;
}
/*-------------------------------------------------- body------------------------------------------------------------------- */
body {
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  color: var(--gray);
}
/*-------------------------------------------------- header------------------------------------------------------------------- */
.logo-span {
  color: var(--navy-blue);
}
.logo {
  margin-right: 76px;
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--iris);
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.header-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.header-contacts {
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
}
.link-color {
  color: var(--gray);
}
.header-text:hover {
  color: var(--ocean);
}
.header-text:focus {
  color: var(--ocean);
}
.header-contacts:hover {
  color: var(--ocean);
}
.header-contacts:focus {
  color: var(--ocean);
}
.address .link.link:not(:last-child) {
  margin-right: 40px;
  background-color: tomato;
}
.link-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: tomato;
  margin-right: 40px;
}
.link-header:not(:last-child) {
  margin-right: 40px;
}
.header-menu {
  display: flex;
  color: var(--navy-blue);
}
.header-menu:hover {
  color: var(--ocean);
}
.header-menu:focus {
  color: var(--ocean);
}
.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--gray);
}

/*-------------------------------------------------- section1------------------------------------------------------------------- */
.hero-container {
  background: var(--navy-blue);
}
.hero-text-title {
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
}
.hero-btn {
  border-radius: 4px;
  border-color: transparent;
  padding: 16px 32px;
  align-items: center;
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}
.hero-btn:hover {
  background-color: var(--ocean);
  cursor: pointer;
}
.hero-btn:focus {
  background-color: var(--ocean);
}

/*-------------------------------------------------- section2------------------------------------------------------------------- */
.about-hero {
  outline: 4px solid orange;
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-hero .list {
  display: flex;

  align-items: center;
}
.caption-texts {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.caption-comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
}
/*-------------------------------------------------- section3------------------------------------------------------------------- */
.work-hero-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
/*-------------------------------------------------- section4------------------------------------------------------------------- */
.hero-team {
  background-color: var(--f4f4fd);
}
.hero-team .list {
  display: flex;
  gap: 24px;
}

.team-caption {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.our-employees {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.empl-comment {
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--gray);
}
/*-------------------------------------------------- section4------------------------------------------------------------------- */
.hero-li {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navy-blue);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.footer-span {
  color: var(--f4f4fd);
}
.footer-comment {
  width: 264px;
  text-align: start;
  padding-top: 16px;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--e7e9fc);
}
/*-------------------------------------------------- portfolio------------------------------------------------------------------- */
.photo-text {
  text-align: start;
  padding-top: 32px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.photo-comment {
  padding-bottom: 32px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
  cursor: pointer;
  background-color: var(--f4f4fd);
}
.btn:hover {
  color: var(--white);
  background-color: var(--ocean);
}
.btn:focus {
  color: var(--white);
  background-color: var(--ocean);
}
/* --------------------------------------------------------Геометрия---------------------------------------------------------------------- */

.header {
  display: flex;
  align-items: center;

  outline: 5px solid teal;
}
.container {
  margin: 0 auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
.address {
  margin-left: auto;
}
.section-container {
  outline: 2px solid brown;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}
.work-hero .list {
  display: flex;
  margin-top: 72px;

  gap: 24px;
}

.work-hero {
  padding-bottom: 120px;
  outline: 4px solid tomato;
}
.hero-team {
  outline: 4px solid tomato;
}
/* portfolio */
.photo-container {
  display: flex;
  gap: 48px 18px;
  flex-wrap: wrap;
  outline: 4px solid tomato;
}
